.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.startpage-headline-red {
    margin: 5px;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    color: #F20F38;
}

.startpage-headline-blue {
    margin: 5px;
    margin-top: 30px;
    font-size: 30px;
    color: #2484BF;
}

.startpage-headline-green {
    margin: 5px;
    margin-top: 30px;
    font-size: 30px;
    color: #208C65;
}

.email-link {
  font-size: 22px;
  margin-top: 10px;
  text-align: right;
}

.email-link a {
  color: #F20F38;
}

.email-link a:visited {
  color: #208C65;
}

.email-link a:hover {
  color: #104D73;
  font-size: 24px;
  text-decoration: underline;
}

.alt-schedule {
  color: #104D73;
}


@media screen and (min-width: 720px) {

  .startpage-headline-red {
      font-size: 32px;
      margin-bottom: 15px;
      text-align: left;
  }

  .start-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: right;
  }

  .email-link {
    font-size: 26px;
    margin-top: 10px;
  }

  .schedule-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .alt-schedule {
    text-align: center;
  }

  .homework-section, .updates-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex: 1;
    margin-top: 50px;
    align-items: flex-start;
  }

  .homework-section {
    margin-left: 60px;
  }

  .updates-section {
    margin-right: 60px;
  }

}


 @media screen and (min-width: 980px) {



 }