
.startpage-headline-red {
    margin: 5px;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    color: #F20F38;
}

.startpage-headline-blue {
    margin: 5px;
    margin-top: 30px;
    font-size: 30px;
    color: #2484BF;
}

.startpage-headline-green {
    margin: 5px;
    margin-top: 30px;
    font-size: 30px;
    color: #208C65;
}


@media screen and (min-width: 720px) {

  .startpage-headline-red {
      font-size: 32px;
      margin-bottom: 15px;
      text-align: left;
  }

  .start-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
  }

  .schedule-section {
    width: 100%;
  }

  .homework-section, .updates-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex: 1;
    margin-top: 50px;
    align-items: flex-start;
  }

  .homework-section {
    margin-left: 60px;
  }

  .updates-section {
    margin-right: 60px;
  }

}


 @media screen and (min-width: 980px) {



 }