.registration-form {
    display: block;
    font-size: 26px;
}

input {
    display: block;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}

select {
    font-size: 18px;
}
.registration-form-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

button {
    background-color:  rgb(52, 199, 33);
    color: white;
    font-size: 23px;
    border: 2px solid  rgb(52, 199, 33);
    border-radius: 3px;
    margin: 10px;
}

.submitButton {
    background-color: rgb(52, 199, 33);
    border: 2px solid  rgb(52, 199, 33);
}

.cancelButton {
    background-color: rgb(247, 15, 216);
    border: 2px solid  rgb(247, 15, 216);
}

.error, .registrationError {
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    
}

@media screen and (min-width: 720px) {

    .registration-form {
        display: flex;
        flex-direction: column;
        padding: 15px;
        font-size: 38px;
        margin-top: 40px;
        border: 2px solid  rgb(252, 160, 239);
        border-radius: 5px;
    }

    .fullname, .user_name, .password, .class-select, .user-select {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    input, select {
        margin: 10px;
        margin-bottom: 20px;
        font-size: 28px;
    }
    
    button {
        font-size: 36px;
    }
}
  @media screen and (min-width: 980px) {

    .input {
        border: 1px solid lightgrey;
        border-radius: 3px;
        margin: 15px;
        margin-bottom: 20px;
        font-size: 32px;
    }
}