.RegistrationPage {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    color: #2484BF;
}

@media screen and (min-width: 720px) {

    .RegistrationPage {
        margin-top: 40px;
    }

   .RegistrationPage > h2 {
    font-size: 32px;
    text-align: center;
   }
}
  @media screen and (min-width: 980px) {
    .RegistrationPage > h2 {
        font-size: 46px;
       }
}