.homework-item {
    list-style: none;
}


.backButton {
    background-color: red;
    border: 2px solid  red;
    width: 100px;
}

.addCommentButton a:link {
    color: white;
}

.addCommentButton a:visited {
    color: white;
}

.backButton a:visited {
    color: white;
}

.backButton a:link {
    color: white;
}

.teacher-only-buttons a:link {
    color: white;
}

.teacher-only-buttons a:visited {
    color: white;
}

.teacher-only-buttons {
    color: white;
    background-color: blue;
    border: 2px solid blue;
}

.homework-comments ul {
    padding: 0px;
}

.addCommentButton {
    color: white;
    font-size: 22px;
    background-color: rgb(52, 199, 33);
    border: 2px solid  rgb(52, 199, 33);
    align-self: center;
}


@media screen and (min-width: 720px) {

}


 @media screen and (min-width: 980px) {


    
 }