.homework-page {
    display: flex;
    flex-direction: column;
}

.homework-list-subjects {
    list-style: none;
    font-size: 20px;
}

.homework-link a:link { 
    color:black;
    text-decoration: none;
}

.homework-link a:visited {
    color: darkgreen;
}



