.homework-page {
    display: flex;
    flex-direction: column;
}

.homework-list-subjects {
    list-style: none;
    font-size: 28px;
}

.homework-page a:link { 
    color: blue;
    text-decoration: none;
}

.homework-page a:visited {
    color: black;
}

@media screen and (min-width: 720px) {

    .homework-list-subjects {
        font-size: 32px;
        flex-wrap: wrap;
    }

}


 @media screen and (min-width: 980px) {



 }


