.homework-page {
    display: flex;
    flex-direction: column;
}

.homework-list-subjects {
    list-style: none;
    font-size: 28px;
}

.homework-page a:link { 
    color: #104D73;
    text-decoration: none;
}

.homework-page a:hover {
    color: #2484BF;
    text-emphasis: bold;
    text-decoration: underline;
    font-size: 28px;
}

.homework-page a:visited {
    color: #208C65;
}

@media screen and (min-width: 720px) {

    .homework-list-subjects {
        font-size: 26px;
        flex-wrap: wrap;
    }

}


 @media screen and (min-width: 980px) {



 }


