nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

  .Header h1 {
    margin: 0;
    font-size: 40px;
  }

  .green {
    color: #208C65;
  }

  .blue {
   color: #2484BF;
  }

  .yellow {
    color: #F2B84B;
  }

  .red {
    color: #F20F38;
  }
  
  .Header a {
    text-decoration: none;
  }

h1 a:hover {
  font-size: 45px;
}

  .Header__not-logged-in {
    font-size: 20px;
    display: flex;
    flex-direction: row;
  }

  .Header__not-logged-in a:hover {
    font-size: 28px;
    color: #208C65;
  }

  .login-link {
    margin-right: 10px;
    color: #2484BF;
  }

  .registration-link {
    margin-left: 10px;
    color: #2484BF;
  }

  .logout-button {
    font-size: 30px;
    background-color: #F20F38;
    border: 2px solid  #F20F38;
    color: white;
    font-size: 23px;
    border-radius: 3px;
    margin: 10px;
  }

  .logo {
    height: 70px;
  }
 
  
  @media screen and (min-width: 720px) {
    .Header {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .Header h1 {
      font-size: 56px;
    }

    .Header__not-logged-in {
      font-size: 40px;
      margin-top: 20px;

    }

    .Header__not-logged-in a:hover {
      font-size: 48px;
      color:  #208C65;
    }

    .logo {
      height: 111px;
      margin-right: 50px;
    }

    .logout-button {
      margin-left: 50px;
      height: 45px;
      width: 120px;
    }

  }
  
  @media screen and (min-width: 980px) {

    .header {
      justify-content: space-around;
    }

    .Header h1 {
        font-size: 75px;
  }

  .Header__not-logged-in {
    font-size: 40px;
    margin-left: 60px;
  }
  
  .Header__not-logged-in a:hover {
    font-size: 50px;
    color:  #208C65;
  }

  .logo {
    height: 120px;
    margin-right: 60px;
  }

  h1 a:hover {
    font-size: 76px;
    text-decoration: underline;
    text-decoration-color: #2484BF;
  }

  .logout-button {
    margin-left: 50px;
    height: 50px;
    width: 150px;
  }

}