nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

  .Header h1 {
    margin: 0;
  }
  
  .Header a {
    color: #444;
    text-decoration: none;
  }

  .Header a:visited {
    color: black;
  }

  .Header__not-logged-in {
    font-size: 20px;
    display: flex;
    flex-direction: row;
  }

  .login-link {
    margin-right: 10px;
  }
 
  
  @media screen and (min-width: 450px) {
    .Header {
      align-items: baseline;
    }
  
    .Header h1 {
      font-size: 22pt;
    }
  }
  
  @media screen and (max-width: 490px) {
    .Header h1 {
        font-size: 22pt;
  }
}