.addUpdateForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    color: #104D73;
}

.update_input, .update_textarea {
    background-color: white;
    border: 1px solid #104D73;
    border-radius: 3px;
    margin: 5px;
    margin-bottom: 20px;
    padding-left: 5px;
    font-size: 22px;
    font-family: 'Schoolbell', cursive;
    height: 40px;
    width: 90%;
}

.update_textarea {
    height: 200px;
}

.add-update {
    width: 100%;
}

.update_button_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 30px;
}

.submitUpdateButton {
    background-color: #208C65;
    border: 2px solid  #208C65;
    width: 100px;
}

.cancelUpdateButton {
    background-color: #F20F38;
    border: 2px solid  #F20F38;
    width: 100px;
}



@media screen and (min-width: 720px) {

    .addUpdateForm > h2 {
        margin-top: 0px;
    }

    .addUpdateForm {
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 15px;
        margin: 0px 70px 70px 70px;
        border-radius: 5px;
        border: 2px solid  #F20F38;
    }

    .add-update {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
    }


    label {
        flex: 1;
    }

    .update_input {
        margin: 10px;
        padding-left: 5px;
        font-size: 28px;
        width: 70%;
        flex: 3;
        font-size: 32px;
        height: 40px;
    }

    .update_textarea {
        margin: 10px;
        padding-left: 5px;
        font-size: 28px;
        width: 70%;
        flex: 3;
        height: 200px;
        font-size: 28px;
    }

    .submitUpdateButton {
        width: 150px;
    }
    
    .cancelUpdateButton {
        width: 150px;
        margin-left: 125px;
    }

    .update_error {
        width: 100%;
        font-size: 29px;
    }

}


 @media screen and (min-width: 980px) {

    .addUpdateForm {
        margin: 0px 150px 150px 150px;
    }


    .update_input, .update_textarea {
        margin: 15px;
        margin-bottom: 20px;
        font-size: 32px;
        flex: 4;
        
    }
    
 }


